@font-face {
  font-family: 'binding-isaac';
  src: url('binding-isaac.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}

.inactive {
  display: none
}

[isaac-container="container"] {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & canvas {
    border: 1px solid black;
  }

  & .container__homepage {
    position: relative;
    width: 1080px;
    height: 720px;
    background-image: url(../image/background/homepage.png);
    background-repeat: no-repeat;
    background-size: cover;

    & div {
      position: absolute;
      display: flex;
      justify-content: center;
      width: 100%;
      gap: 20px;
      bottom: calc(720px / 4 - 50px);

      & img {
        transform: scale(1);
        transition: .3s ease-in-out;
      }

      & img:hover{
        transform: scale(1.2);
        cursor: pointer;
      }
    }
  }
}